# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Jupyter Notebook
.ipynb_checkpoints

# IDE / Editor specific
.idea/
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Data files - It's good practice to not commit large data files to Git.
# The .gitkeep files will ensure the directories are tracked.
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep